body {
    font-family: sans-serif, arial, helvetica;
  }
  
  button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: 1em;
    padding: 1em;
    border-radius: 50%;
  }
   
  h1 {
    width: 95%;
    font-size: 1.5em;
    background: lightgray;
    padding: 0.2em;
    text-align: justify;
  }
  
  p {
    margin-left: 2em;
  }

  .inspirationalquote {
    background-color: wheat;
    padding: 20px;
  }
  
  button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }